h1{
    margin-top: 20px;
    color: green;
}
body{
    margin-left:50px ;
}
h3{
    color: green;
}
.name{
    color: red;
}
.number1{
    color: red;
}
.number2{
    color: red;
}
.branch1{
    color: red;
}
.declaration{
    color: red;
}

